.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tilecontainer {
  width: 100%;
  background-color: transparent;
  box-shadow: rgb(0 0 0 / 40%) 3px 5px 6px 1px;
  cursor: pointer;
}

.gradiantoverlay {
  background: linear-gradient(180deg, #a49fca 0%, #1704a2 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topwrapper {
  height: 55%;
  width: 96%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagecontainer {
  color: black;
  padding: 2%;
  width: 96%;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  justify-self: center;
}

.bottomwrapper {
  height: 45%;
  background-color: transparent;
}

.textwrapper {
  padding: 1% 6%;
  margin: 0;
  text-align: center;
}
